<%= react_component "AgenciesContainer", { agenciesPath: agencies_path(:json , type: "Data"), searchPath: search_path, compare:"data" } %>
<footer class="footer share-footer">
  <div class="container text-center">
    <h2>Share These Requirements with a Colleague</h2>
  </div>
  <div class="container text-center">
    <ul class="list-inline">
      <li>
        <a class="emailLink" href=""><i class="fa fa-envelope"></i></a>
      </li>
      <li>
        <a  class="copyLink" href="#" data-clipboard-text="Copy To Clipboard" data-toggle="popover" title="Copy to Clipboard"  data-placement="top"><i class="fa fa-link"></i></a>
      </li>
      <li>
        <a href="javascript:window.print()"><i class="fa fa-print"></i></a>
      </li>
      <li>
        <a class="shareLink" target="_blank" href="#"><i class="fa fa-linkedin"></i></a>
      </li>
    </ul>
    
    <p class="col-sm-8 col-sm-offset-2">The agency logos above are only to aid navigation and to help identify the source of each policy. They in no way are intended to imply endorsement by any agency.</p>
    <div class="col-xs-12">
      <%=image_tag 'public_domain.png' %>
      <p>
        <a href="http://sparcopen.org/privacy-policy/">Privacy Policy</a>   |   <a href="http://sparcopen.org/contact/">Contact Us</a>  |  <span style="margin-left: 15px">© 2007 - 2016 SPARC, <a href="https://creativecommons.org/publicdomain/zero/1.0/" target="_blank" style="margin: 0">subject to a CC0 waiver</a></span>
      </p>
    </div>
  </div>
</footer>





